/* Category.css */
.category-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}
.header-z {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.category-table th,
.category-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.category-table th {
  background-color: #f2f2f2;
  color: black;
}

.button-style {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button-style:hover {
  background-color: #45a049;
}

.button-style-delete {
  background-color: #f44336;
}

.button-style-delete:hover {
  background-color: #d32f2f;
}

.button-style:hover {
  background-color: #45a049;
}
/* CategoryForm.css */
.category-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.input-container {
  margin: 10px 0;
}

.input-style {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-style {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-style-delete {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.button-style:hover {
  background-color: #45a049;
}

/* Additional Styles for more appealing design */
.category-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-style:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}
